{
    "firewall": {
        "name": "{{ firewall_name }}",
        "admin_state_up": true,
        "firewall_policy_id": "{{ firewall_policy_id }}",
        "router_ids": [
            "{{ router_id }}"
        ]
    }
}