Enable-PSRemoting -force
New-ADFineGrainedPasswordPolicy -ComplexityEnabled:$false -LockoutDuration:"00:30:00" -LockoutObservationWindow:"00:30:00" -LockoutThreshold:"0" -MaxPasswordAge:"-10675199.02:48:05.4775808" -MinPasswordAge:"00:00:00" -MinPasswordLength:"8" -Name:"PasswordPolicy" -PasswordHistoryCount:"0" -Precedence:"100" -ReversibleEncryptionEnabled:$false -Server:"{{ server_name }}.{{ ad_domain_name }}"
Set-ADObject -Identity:"CN=PasswordPolicy,CN=Password Settings Container,CN=System,DC={{ ad_domain_short }},DC={{ ad_domain_suffix }}" -ProtectedFromAccidentalDeletion:$true -Server:"{{ server_name }}.{{ ad_domain_name }}"
Add-ADFineGrainedPasswordPolicySubject -Identity:"CN=PasswordPolicy,CN=Password Settings Container,CN=System,DC={{ ad_domain_short }},DC={{ ad_domain_suffix }}" -Server:"{{ server_name }}.{{ ad_domain_name }}" -Subjects:"CN=Domain Users,CN=Users,DC={{ ad_domain_short }},DC={{ ad_domain_suffix }}"

