127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ active_host_ip_addr }}       {{ active_host_name }}
{{ standby_host_ip_addr }}      {{ standby_host_name }}
{% if qw_host_name is defined %}
{{ qw_host_ip_addr }}  {{ qw_host_name }}
{% endif %}

