127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ active_host_port1_ip_address }}       {{ active_host_name }}
{{ standby_host_port1_ip_address }}      {{ standby_host_name }}

